    body {
        font-family: Arial, sans-serif;
        background-color: #e6f0ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        margin: 0;
        overflow: hidden;
    }

    .home-bg {
        height: 100vh;
        width: 100%;
        background: url(front/plm.jpg) no-repeat center center/cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-container {
        display: flex;
        flex-direction: row; /* Stack the text boxes vertically */
        justify-content: center;
        align-items: center;
        height: auto; /* Adjust height to fit content */
        width: 100%;
    }

    .center-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .home-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 25px; 
        font-size: 18px;
        transition: 0.3s;
        text-align: center;
        width: 150px; 
    }

    .home-button:hover {
        background-color: #0056b3;
        transition: 0.3s;
    }

    .floating-headline {
        position: relative;
        left: 0;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px 0;
        font-size: 20px;
    }


    /* New styles for the text boxes */
    .text-box {
        background-color: rgb(255, 255, 255, 0.95);
        color: black;
        padding: 20px;
        border-radius: 10px;
        border: #0056b3 2px solid;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 200px; /* Ensure a maximum width for consistency */
        margin: 15px;
    }

    .text-box h2 {
        font-size: 24px;
    }

    .text-box p {
        font-size: 16px;
    }

    
/* Media Query for screens less than or equal to 805px */
@media screen and (max-width: 805px) {
    .text-box {
       width: 80%;
       margin-top: 5px;
       max-width: unset; /* Ensure a maximum width for consistency */
    }
    .home-container {
       flex-direction: column;
    }

}