
#userManual {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center; /* Vertically center the image */
    z-index: 100;
    left: 40px;
    bottom: 5px;
    height: 150px;
    width: 400px;
    background-color: rgb(240, 248, 255, 0.8);
    border: solid 3px rgb(0, 0, 0, 0.2);
    align-items: center; /* Vertically center the image */
    overflow-y: scroll;
}
  
.mobile #userManual {
    left: 50px;
    bottom: 5px;
    width: 300px;
}

.enabled#userManual {
    display: flex;
  }

.manual-tile-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.mobile .manual-tile-container {
    justify-content: center;
    flex-direction: column;
}

.manual-img {
    display: flex; /* Make it a flex container */
    flex-grow: 1; /* Allow it to grow and fill remaining space */
    align-items: last baseline; /* Vertically center the image */
    justify-content: center; /* Horizontally center the image (optional) */
}

.mobile .manual-img {
    align-items: center;
}

.manual-img img {
    width: 100%; /* Set a maximum width to prevent overflow */
    height: auto;  /* Allow the image to adjust its height */
}

.manual-tile {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.mobile .manual-tile {
    min-width: 100%;
}

.manual-tile img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.manual-tile div {
    display: flex;
    flex-direction: column;
}

.manual-tile h5{
    font-size: 15px;
    color:black;
    font-weight: bold;
}

.manual-tile h1{
    font-size: 20px;
    color:black;
    font-weight: bold;
}

.mobile .manual-tile h5{
    font-size: 10px;
}

.mobile .manual-tile h1{
    font-size: 15px;
}